@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Theme Variables */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Swiper Pagination */
.swiper-pagination-bullet {
    background: #a855f7 !important;
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px !important;
    border-radius: 999px;
}
/* Navigation Link */
.nav-link.active {
    color: #a855f7;
    font-weight: 800;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 2px;
    background: #a855f7;
    border-radius: 999px;
}